* {box-sizing: border-box;}
html {
    position: relative;
}

body {
    background-image: url("stars.webp");
    background-size: 20%;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: cambria;
    }

.thing1 {
    background-color: #202645;
    border: solid 2px #868DB1;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #868DB1;
    margin: 50px 400px 0px 400px
}

.thing2 {
    background-color: #202645;
    border: solid 2px #868DB1;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 50px 400px 100px 400px
}

.thing2 a {
    display: block;
    color: #868DB1;
    font-weight: bold;
    font-size: 72px;
    text-decoration: none;
}
